.conteinerCard{
    position: relative;
    width: 100%;
    height: 100%;
}
.conteinerCard img{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.capaInfo {
    position: absolute;
    background-color: red;
    z-index: 50;
    width: 100%;
    height: 100%;
    opacity: 0;

}

.capaInfo:hover{
    position: absolute;
    background-color: red;
    z-index: 100;
    width: 100%;
    height: 100%;
    opacity: 1;
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    overflow: scroll;
}