.conteinerLandingPage{
    display: flex;
    justify-content: center;
    justify-items: center;
    flex-direction: column;
    margin-top: 17%;
}

.conteinerLandingPage button {

    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50%;
    margin-left: 25%;
    border-radius: 12px;
    
}
.conteinerLandingPage h1 {
    text-align: center;
    font-size: 50px;
    font-family: Titillium Web;
    font-weight: bold;
    /* para cambiar el color de letras */
    color: green;
    margin: 0 0 40px;
    font-size: 70px;
}