.filtersBar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    height: 85px;
    width: 100%;
    margin-top: 5%;
}

.filter{
    display: flex;
    margin-top: 2%;
    margin: 3px;
    margin-left: 35%;
}
.filters select{
    cursor: pointer;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    
}
.Link {
    margin-left: 50%;
}